/* Arquivo gerado utilizando VICGERADOR por anderson as 13/03/2018 15:19:34 */
/* Para não gerar o arquivo novamente coloque na primeira linha um comentário com  VICIGNORE , pode ser essa mesmo */
.footer{
    float: right !important;
    border: 1px 0px 0px 0px solid black;
    text-align: right;
}

.margin-bottom{
    margin-bottom: 20px;
}